<%- include('partials/header') -%>

    <div>
        <a href="/logout" class="col-2 btn btn-primary">Logout</a>
    </div>
    <div class="col-6">
      <ul class="row list-unstyled">
        <% for(var i=0; i<diary.length; i++) {%>
          <li >
            <a href="/diary/<%= diary[i]._id%>"> <h2>Diary  </h2>  </a>
          </li>
        <% } %>
        </ul>
    </div>
    <div>
        <a class="btn btn-primary" href="/profile">Return to profile</a>
    </div>  
     
<%- include('partials/footer') -%>